@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Velkommen til Open ID Connect demo</h2>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            Vælkømmin&nbsp;@User.Identity.Name&nbsp;du er
            @if (User.IsInRole("administrator"))
            {
                <span>root</span> }
            else
            {
                <span>en vanlig bruker</span>
            }
        </div>
        <div>
            <img src="@User.Claims.FirstOrDefault(x => x.Type == "picture")?.Value" />
        </div>
        <div><span>access_token : </span><span id="access_token">@ViewBag.AccessToken</span></div><br/>
        <div><span>id_token : </span><span id="id_token">@ViewBag.IdToken</span></div><br />
        <div><div><button onclick="get_token()">use refresh token</button></div><span>refresh_token : </span><span id="refresh_token">@ViewBag.RefreshToken</span></div><br />
        <div><div><button onclick="get_userinfo()">get user info</button></div><span id="userinfo">@ViewBag.UserInfo</span></div><br />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Claim
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claim in User.Claims)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                        <td>@claim.Issuer</td>
                        <td>@claim.OriginalIssuer</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@section Scripts{
    <script>
        function get_userinfo() {
            $.getJSON('https://localhost:9999/home/getuserinfo', function (data) {
                $('#userinfo').text(data);
            });
        }

        function get_token() {
            $.getJSON('https://localhost:9999/home/gettoken', function (data) {
                var json = JSON.parse(data)
                $('#access_token').text(json.access_token);
                $('#id_token').text(json.id_token);
                $('#refresh_token').text(json.refresh_token);
            });
        }
    </script>
}

